body
{
    font-family: 'Raleway', sans-serif;
    background: url("../images/main.jpg") no-repeat center;
    background-size: cover;
}
#container
{
    width: 100%;
    max-width: 999px;
    margin: 0 auto;
}
#header
{
    background: rgba(0, 158, 223, 1);
    color: #FFFFFF;
    padding-left: 10%;
    height: 40px;
}
#background
{
    position: fixed;
    top: 0;
    z-index: -100;
    height: 95%;
    margin: 0 auto;
}
#cardContainer
{
    background-color: rgba(255,255,255,.8);
}
.card
{
    background-color: #88d7de;
    text-align: center;
}
.card IMG
{
    width: 50%;
}